.settings {
  position: absolute;
  width: $width;
  top: -100vh;
  height: 100%;
  background-color: white;
  transition: top 0.5s ease-in-out;
  &_show {
    top: 0;
  }
  &__title {
    @include title;
    margin: 10px 0 18px 0;
  }
  &__new-location {
    font-weight: 600;
  }
}
.search {
  &-location {
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 100%;
    }
    svg {
      display: block;
      padding: 0 10px;
    }
  }
  &-list {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    padding: 5px 0;
    width: 100%;
    background: rgb(199, 199, 199);
    z-index: 2;
    border-radius: 3px;
    &__item {
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
      padding: 5px 10px;
      &:hover {
        background: rgb(218, 218, 218);
      }
    }
  }
  &-error {
    display: block;
    font-size: 10px;
    color: red;
  }
}